.app {
    text-align: center;
    display: flex;
    align-content: center;
    justify-content: center;
}

.app-panel {
    background-color: rgb(60, 150, 224);
    padding: 20px;
}

.reset {
    margin-top: 20px;
    font-size: 30px;
    font-weight: bold;
    color: white;
    border: rgb(58, 91, 148) 5px solid;
    background-color: rgb(60, 150, 224);
    padding: 15px;
}

.reset:hover {
    background-color: rgb(42, 74, 162);
    cursor: pointer;
}
