.pickcard {   
    width: 125px;
    height: 125px;
    line-height: 125px;
    margin: 7px;
    background-color: rgb(42, 74, 162);   
}

.pickcardLabel {
    color: white;
    font-size: 70px;
    font-weight: bold;
}